services:
  app:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    env_file:
      - .env
      - .env.redis
      - .env.rmq
      - .env.chat
      - .env.amo
      - .env.meta
    depends_on:
      - db
      - redis
      - rabbitmq
    ports:
      - "8000:8000"

  alembic:
    build: .
    command: alembic upgrade head
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"

    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    env_file:
      - .env.redis

  rabbitmq:
    image: rabbitmq:3.10.6-management-alpine
    env_file:
      - .env.rmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    restart: always
    volumes:
      - ./data/rabbit_data:/var/lib/rabbitmq/mnesia
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "status" ]
      interval: 30s
      timeout: 10s
      retries: 3


volumes:
  postgres_data: